body {
  text-align: center;
  overflow: scroll;
}

.message {
  overflow: visible;
  font-size: x-large;
  font-weight: bold;
}

.form {
  font-size: large;
  width: 70%;
  margin: 0 auto;
}

.radio label {
  font-size: large;
}

.form-group input[type="text"] {
  width: 80%;
}
